<div class="jumbotron">
	<h1>Tickets</h1>
	<p>Todos os tickets cadastrados.</p>

	<div class="table-responsive">
	    <table class="table table-striped">
	      <thead>
	        <tr>
	          <th>Id</th>
	          <th>Nome</th>
	          <th>Descrição</th>
  	          <th>Status</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr *ngFor="let t of tickets">
	          <td>{{t.id}}</td>
	          <td>{{t.nome}}</td>
	          <td>{{t.descricao}}</td>
  	          <td>{{t.status}}</td>
	        </tr>
	      </tbody>
	    </table>
    </div>   
</div>